# Supabase connection string for Prisma
DATABASE_URL="postgresql://"
DIRECT_URL="postgresql://postgres:"

# BetterAuth configuration
BETTER_AUTH_SECRET="YOUR_BETTER_AUTH_SECRET"
BETTER_AUTH_URL="YOUR_BETTER_AUTH_URL" # Base URL of your application

# Next.js configuration
NEXT_PUBLIC_BETTER_AUTH_URL="YOUR_NEXT_PUBLIC_BETTER_AUTH_URL" # API URL of your application

# GitHub OAuth configuration
GITHUB_CLIENT_ID="YOUR_GITHUB_CLIENT_ID"
GITHUB_CLIENT_SECRET="YOUR_GITHUB_CLIENT_SECRET"
GITHUB_REDIRECT_URI="YOUR_GITHUB_REDIRECT_URI" # Redirect URI for GitHub OAuth
GITHUB_SCOPES="YOUR_GITHUB_SCOPES" # Scopes for GitHub OAuth

NODE_ENV="development"